/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 240 4.8% 98.5%;
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 224 71% 4%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --accent: 262 100% 97%;
    --accent-foreground: 262 45% 32%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 262 83% 58%;

    --radius: 0.6rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5% 26%;

    --sidebar-primary: 262 83% 58%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 262 100% 97%;

    --sidebar-accent-foreground: 262 45% 32%;

    --sidebar-border: 240 6% 90%;

    --sidebar-ring: 262 83% 58%;
  }

  .dark {
    --background: 240 10% 6%;
    --foreground: 0 0% 98%;

    --card: 240 7% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 240 7% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 83% 70%;
    --primary-foreground: 252 100% 11%;

    --secondary: 240 6% 14%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 6% 14%;
    --muted-foreground: 240 6% 65%;

    --accent: 262 45% 22%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 7% 14%;
    --input: 240 7% 14%;
    --ring: 262 83% 70%;
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 262 83% 70%;
    --sidebar-primary-foreground: 252 100% 11%;
    --sidebar-accent: 262 35% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 7% 14%;
    --sidebar-ring: 262 83% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
